<!--Code to string concatination-->
<!--<input #box (keyup.enter)="onKeyString(box.value)" >
<p>{{values}}</p>-->

<router-outlet></router-outlet>

<!--code to print firstName-->
<!--<input #firstName type="text" (keyup.enter)="onKeyUp(firstName.value)" />
<input #lastName type="text" (keyup.enter)="onKeyUp(lastName.value)" />
<br />
{{firstName.value + ' '+ lastName.value}}-->
<!--<input #some (keyup)="functionName($event)" />
{{ values }}-->

<input #student />

<input  type="button" value="Add Student"
       (click) ="AddStudent(student.value)" />



<!--<ul>
  <li *ngFor="let student of students">
    {{student}}
  </li>
</ul>-->

<app-hero  [heroName]="student.value" ></app-hero>
